{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block seo_block %}{% endblock %}
    <link rel="stylesheet" href="{% static 'bundles/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bundles/css/style.css' %}" type="text/css" media="all">
    <link href="{% static 'bundles/css/font-awesome.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let currentURL = window.location.href;
        console.log(currentURL)
    </script>
    {% block head %}{% endblock %}
</head>

<body {% block body_style %}{% endblock %}>
<div id="page" class="page"><!-- mian-content -->
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'cinema:index' %}"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/768px-LEGO_logo.svg.png"
                        alt="Bootstrap" width="30"
                        height="24"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 ml-2" style="background: whitesmoke">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cinema:afisha' %}">Афиша</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cinema:schedule' %}">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cinema:soon' %}">Скоро</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cinema:cinemas' %}">Кинотеатры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cinema:events' %}">Акции</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'cinema:about_cinema' %}"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                О кинотеатре
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'cinema:news' %}">Новости</a></li>
                                <li><a class="dropdown-item" href="{% url 'cinema:cinema_contacts' %}">Контакты</a></li>
                                {% for p in pages %}
                                    {% if p.status == True %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'cinema:pages' p.seo_block.url %}">{{ p.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <label for="">{{ seo_information.phone_number }}</label>
                    <form class="d-flex" role="search" id="search_form" action="{% url "cinema:index" %}"
                          method="get">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Поиск"
                               aria-label="Поиск" name="q">
                        <button class="btn btn-outline-success btn-sm" type="submit">Поиск</button>
                    </form>
                    {% if user.is_authenticated %}
                        <div class="d-flex">
                            <a href="#" type="button" class="btn btn-outline-warning mx-2">{{ request.user }}</a>
                            {% if request.user.is_staff or request.user.is_superuser %}
                                <a href="{% url 'adminlte:stats_page' %}" type="button"
                                   class="btn btn-outline-info mx-2">Admin
                                    Panel</a>
                            {% endif %}
                        </div>
                        <br>
                        <form method="post" action="{% url 'user:logout' %}" id="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    {% else %}
                        <div class="d-flex">
                            <a href="" type="button" class="btn btn-success d-table mx-4" data-bs-toggle="modal"
                               data-bs-target="#login_ajax">
                                Log-In
                            </a>
                            <a href="{% url 'user:register_ajax' %}" type="button"
                               class="btn btn-success d-table mx-4">
                                Register
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- End Example Code -->
        </nav>
        <!-- //nav -->
    </header>
    {#    </div>#}
    {% include 'user/login.html' %}
    {% block content %}{% endblock %}
    <!-- //contact -->
    <!-- footer -->
    <footer class="editContent">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h4 class="sub-con-fo ad-info my-4 editContent">Catch on Social</h4>
                    <ul class="w3layouts_social_list media-soc list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook editContent">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_twitter editContent">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble editContent">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_google editContent">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <a href="{% url 'cinema:afisha' %}"
                               class="footer-title text-uppercase editContent mb-lg-4 mb-3"
                               style="color: black">Афиша</a>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="{% url 'cinema:index' %}" class="editContent">Главная</a>
                                </li>
                                <li>
                                    <a href="{% url 'cinema:schedule' %}" class="editContent">Расписание</a>
                                </li>
                                <li>
                                    <a href="{% url 'cinema:soon' %}" class="editContent">Скоро в прокате</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">
                                <a href="{% url 'cinema:about_cinema' %}"
                                   class="footer-title text-uppercase editContent mb-lg-4 mb-3" style="color: black">О
                                    кинотеатре</a>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="{% url 'cinema:news' %}" class="editContent">Новости</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cinema:events' %}" class="editContent">Акции</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cinema:cinema_contacts' %}" class="editContent">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const showModal = urlParams.get('show_modal');

        if (showModal === 'true') {
            $('#login_ajax').modal('show');
        }

        $('#form_ajax').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: this.action,
                data: $(this).serialize(),
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.replace('{% url "cinema:index" %}');
                        $('.modal-content').html(response.html);
                        $('#login_ajax').modal('show');
                    } else if (response.error) {
                        console.log(response.error)
                        $('.alert-danger').text(response.error).removeClass('d-none');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error:', textStatus, errorThrown);
                }
            });
        });
    })

</script>
{% block script %}
{% endblock %}
</body>

</html>