{% extends 'cinema/base.html' %}
{% load static %}

{% block title %}Cinemas{% endblock %}

{% block content %}
    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item"
             src="https://i.pinimg.com/originals/71/9e/80/719e80760999b4c355a723224120eb07.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <h1 class="text-center">Наши кинотеатры</h1>
            <div class="row col">
                {% for c in cinema %}
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{ c.logo.url }}"
                             alt="">
                        <h3><a href="{{ c.get_absolute_url }}" style="text-decoration: none;">{{ c.title }}</a>
                        </h3>
                    </div>
                {% endfor %}
            </div>
            <img class="rounded float-start" src="https://wallpaperaccess.com/full/370260.jpg" alt=""
                 style="width: 200px; height: 1000px;">
        </div>
    </div>
{% endblock %}