{% extends 'cinema/base.html' %}
{% load static %}

{% block title %}{{ seo_block.title }}{% endblock %}
{% block body_style %}
    {% if back_ground_image.type == 'JUST' %}
    {% else %}
        style="background-image: url('{{ back_ground_image.image.url }}')"
    {% endif %}
{% endblock %}

{% block seo_block %}
    <meta name="description" content="{{ seo_block.desc }}">
    <meta name="keywords" content="{{ seo_block.keywords }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            {% if galley_rotation_status == True %}
                <div class="col-md-10">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in gallery_images %}
                                    <div class="carousel-item active" data-bs-interval="{{ galley_rotation_speed }}">
                                        <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleInterval"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleInterval"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <div class="col-md-10">
                <span class="badge rounded-pill text-bg-success col badge-sm">Смотрите сегодня</span>
                <div class="row" id="search_part">
                    {% for movie in movies_now %}
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info editContent text-center mt-lg-4"
                                 style="background-color: whitesmoke;">
                                <div class="men-thumb-item">
                                    <img src="{% if movie.main_image %}{{ movie.main_image.url }}{% else %}https://s3.vcdn.biz/static/f/5768112441/image.jpg/pt/r375x0x4{% endif %}"
                                         class="img-fluid" alt="">
                                </div>
                                <div class="item-info-product">
                                            <span class="badge rounded-pill text-bg-info"
                                                  style="width: 50px; margin-top: 5px;">{{ movie.type }}</span>
                                    <h4 class="">
                                        <a href="{{ movie.get_absolute_url }}"
                                           class="editContent">{{ movie.title }}</a>
                                    </h4>
                                </div>
                                <a class="btn btn-warning" href="{{ movie.get_absolute_url }}"
                                   style="color: #000;">Купить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <span class="badge rounded-pill text-bg-warning col badge-sm">Смотрите сегодня</span>
                <div class="row">
                    {% for movie in movies_soon %}
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info editContent text-center mt-lg-4"
                                 style="background-color: whitesmoke;">
                                <div class="men-thumb-item">
                                    <img src="{% if movie.main_image %}{{ movie.main_image.url }}
                                            {% else %}https://s3.vcdn.biz/static/f/5768112441/image.jpg/pt/r375x0x4
                                            {% endif %}"
                                         class="img-fluid" alt="">
                                </div>
                                <div class="item-info-product">
                                            <span class="badge rounded-pill text-bg-info"
                                                  style="width: 50px; margin-top: 5px;">{{ movie.type }}</span>
                                    <h4 class="">
                                        <a href="{{ movie.get_absolute_url }}"
                                           class="editContent">{{ movie.title }}</a>
                                    </h4>
                                </div>
                                <label for=""
                                       style="color: brown; font-size: 20px;">{{ movie.coming_soon }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if events_rotation_status == True %}
                <div class="col-md-8">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in events_news_gallery %}
                                    <div class="carousel-item active" data-bs-interval="{{ events_rotation_speed }}">
                                        <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleInterval"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleInterval"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            {% else %}
            {% endif %}
            {{ seo_information.seo_text }}
        </div>
    </div>
{% endblock %}