{% extends 'admin_page/base.html' %}

{% block content %}
    <div class="content-wrapper">
        <div class="col-md-auto">
            <h1>Список текущих фильмов</h1>
        </div>
        <div class="card-body">
            <div class="row">
                {% for movie in films_now %}
                    <div class="col-sm-2">
                        <a href="{% url 'adminpage:film_details' movie.id %}" data-toggle="lightbox"
                           data-title="sample 2 - black" data-gallery="gallery">
                            <img src="{{ movie.main_image.url }}" class="img-fluid mb-2"
                                 alt="black sample"/>
                        </a>
                        <h1>{{ movie.title }}</h1>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'adminlte:film_add' %}">Добавить фильм</a>
        </div>
        <div class="col-md-auto">
            <h1>Список фильмов, которые скоро покажут</h1>
        </div>
        <div class="card-body">
            <div class="row">
                {% for movie in films_soon %}
                    <div class="col-sm-2">
                        <a href="{% url 'adminpage:film_details' movie.id %}" data-toggle="lightbox"
                           data-title="sample 2 - black" data-gallery="gallery">
                            <img src="{{ movie.main_image.url }}" class="img-fluid mb-2"
                                 alt="black sample"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}