{% extends 'admin_page/base.html' %}

{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs mb-2">
                        <li class="nav-item ml-auto">
                            <a class="nav-link active" id="tab-en">English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-uk">Українська</a>
                        </li>
                    </ul>
                    {% if hall_id %}
                        <form action="{% url 'adminlte:hall_card' cinema_id hall_id %}" enctype="multipart/form-data"
                              method="post">
                        {% csrf_token %}
                    {% else %}
                        <form action="{% url 'adminlte:hall_add' cinema_id %}" enctype="multipart/form-data"
                              method="post">
                        {% csrf_token %}
                    {% endif %}
                    {{ formset.management_form }}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputText">Номер зала</label>
                            {{ form.number }}
                        </div>
                        <div class="form-group uk">
                            <label>Description in Ukrainian</label>
                            {{ form.desc_uk }}
                        </div>
                        <div class="form-group en">
                            <label>Description in English</label>
                            {{ form.desc_en }}
                        </div>
                        <label>Схема зала</label>
                        <div class="row">
                            <div class="col-md-2">
                                <img id="schemPreview" src="{% if form.scheme.value %}{{ form.scheme.value.url }}
{% else %}https://via.placeholder.com/300.png?text=No+Image{% endif %}" class="img-fluid mb-2"
                                     alt="black sample" style="width:100%;"/>
                            </div>
                            {{ form.scheme }}
                        </div>
                        <label>Верхний баннер</label>
                        <div class="row">
                            <div class="col-md-2">
                                <img id="topBannerPreview"
                                     src="{% if form.top_banner.value %}{{ form.top_banner.value.url }}
{% else %}https://via.placeholder.com/300.png?text=No+Image{% endif %}" class="img-fluid mb-2"
                                     alt="black sample" style="width:100%;"/>
                            </div>
                            {{ form.top_banner }}
                        </div>
                        <label for="exampleInputFile">Галлерея картинок</label>
                        <div class="row" id="gallery-container">
                            {% for gallery_form in formset %}
                                <div class="col-md-2" id="gallery-form">
                                    <a href="https://via.placeholder.com/300.png?text=No+Image"
                                       data-toggle="lightbox" data-title="sample 2 - black" data-gallery="gallery">
                                        <img id="top-image-{{ forloop.counter0 }}-image" src="
                                                
                                                
                                                
                                                
                                                {% if gallery_form.instance.image %}{{ gallery_form.instance.image.url }}{% else %}https://via.placeholder.com/300.png?text=No+Image{% endif %}"
                                             class="img-fluid mb-2" alt="black sample" style="width:100%;"/>
                                    </a>
                                    {{ gallery_form.image }}
                                    {{ gallery_form.id }}
                                    {{ gallery_form.DELETE }}
                                    <button class="delete-image-button">Удалить</button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-block btn-success"
                                    style="width: 200px; height: 40px; margin-top: 50px; margin-right: 10px;"
                                    id="add-gallery-form">Добавить
                            </button>
                        </div>
                        <label for="exampleInputText">SEO блок:</label>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group text-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">URL</span>
                                            </div>
                                            {{ seo_form.url }}
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Title</span>
                                            </div>
                                            {{ seo_form.title }}
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Key words</span>
                                            </div>
                                            {{ seo_form.keywords }}
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            {{ seo_form.desc }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary"
                                style="width: 400px; height: 40px;">Сохранить
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>a

    <script>
        $(document).ready(function () {
            $('input[name$="-DELETE"]').each(function () {
                $(this).hide()
            });
        });

        function handlePreview(input, previewId) {
            var preview = document.getElementById(previewId);

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.getElementById('id_scheme').addEventListener('change', function () {
            handlePreview(this, 'schemPreview');
        });

        document.getElementById('id_top_banner').addEventListener('change', function () {
            handlePreview(this, 'topBannerPreview');
        });

        document.querySelectorAll('[id^="id_hall-formset-"]').forEach(function (input) {
            input.addEventListener('change', function () {
                var previewId = this.id.replace('id_hall-formset-', 'top-image-').replace('-image', '-image');
                handlePreview(this, previewId);
            });
        });

        let galleryForm = document.querySelectorAll('#gallery-form');
        let totalForms = document.querySelector("#id_hall-formset-TOTAL_FORMS");
        let addButton = document.querySelector("#add-gallery-form");
        let container = document.querySelector('#gallery-container');

        let formNum = galleryForm.length - 1;
        addButton.addEventListener('click', addGalleryCard)

        function addGalleryCard(e) {
            e.preventDefault();

            let newForm = galleryForm[0].cloneNode(true);
            let formRegex = RegExp(`hall-formset-(\\d){1}-`, 'g');

            formNum++;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `hall-formset-${formNum}-`);

            let image = newForm.querySelector(`#id_hall-formset-${formNum}-image`);
            let newId = `id_hall-formset-${formNum}-image`;
            image.id = newId;

            let photo = newForm.querySelector(`#top-image-0-image`);
            let newPhotoId = `top-image-${formNum}-image`;
            photo.id = newPhotoId;
            photo.src = 'https://via.placeholder.com/300.png?text=No+Image'


            image.addEventListener('change', function () {
                handlePreview(this, newPhotoId);
            });

            container.insertBefore(newForm, addButton);

            totalForms.value = formNum + 1;
        }

        $(document).on('click', '.delete-image-button', function (event) {
            event.preventDefault(); // Предотвращаем стандартное поведение кнопки

            const $card = $(this).closest('#gallery-form'); // Исправляем селектор, чтобы найти ближайшую форму галереи
            const $checkbox = $card.find('input[name^="hall-formset"][name$="-DELETE"]');
            $checkbox.prop('checked', true); // Устанавливаем значение чекбокса в true
            $card.hide(); // Скрываем форму галереи
        });

        $('.uk').hide();

        $('.row .nav-link').click(function () {
            const clickedTabId = $(this).attr('id');

            $('.row .nav-link').removeClass('active');
            $(this).addClass('active');

            if (clickedTabId === 'tab-en') {
                $('.uk').hide();
                $('.en').show();
            } else {
                $('.uk').show();
                $('.en').hide();
            }
        });

    </script>
{% endblock %}