{% extends 'admin_page/base.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item ml-auto">
                    <a class="nav-link active" id="tab-en">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-uk">Українська</a>
                </li>
            </ul>
            <form method="post" action="{% url 'adminlte:main_page' %}">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="exampleInputText1">Телефон</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="col-md-2">
                            <label for="exampleInputText1">Статус</label>
                            <div class="d-flex col-md-2">
                                <label class="form-check-label" for="flexSwitchCheckDefault">ВЫКЛ</label>
                                <div class="form-check form-switch">
                                    {{ form.status }}
                                </div>
                                <label class="form-check-label" for="flexSwitchCheckDefault">ВКЛ</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group en">
                        <label>SEO текст</label>
                        {{ form.seo_text_en }}
                    </div>
                    <div class="form-group uk">
                        <label>SEO текст</label>
                        {{ form.seo_text_uk }}
                    </div>
                    <label for="exampleInputText">SEO блок:</label>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group text-center">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">URL</span>
                                        </div>
                                        {{ seo_form.url }}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Title</span>
                                        </div>
                                        {{ seo_form.title }}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Key words</span>
                                        </div>
                                        {{ seo_form.keywords }}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Description</span>
                                        </div>
                                        {{ seo_form.desc }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary"
                                style="width: 400px; height: 40px;">Сохранить
                        </button>
                    </div>
                    <!-- /.row -->
                </div>
            </form>
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>a
    
    <script>
        $(document).ready(function () {
            $('.uk').hide();
            $('.content .nav-link').click(function () {
                const clickedTabId = $(this).attr('id');

                $('.container-fluid .nav-link').removeClass('active');
                $(this).addClass('active');

                if (clickedTabId === 'tab-en') {
                    $('.uk').hide();
                    $('.en').show();
                } else {
                    $('.uk').show();
                    $('.en').hide();
                }
            });
        });
    </script>
{% endblock %}