{% extends 'admin_page/base.html' %}

{% block link %}
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs mb-2">
                        <li class="nav-item ml-auto">
                            <a class="nav-link active" id="tab-en">English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-uk">Українська</a>
                        </li>
                    </ul>
                    {% if new_id %}
                        <form enctype="multipart/form-data" action="{% url 'adminlte:news_edit' new_id %}"
                              method="post" novalidate>
                        {% csrf_token %}
                    {% else %}
                        <form enctype="multipart/form-data" action="{% url 'adminlte:news_add' %}" method="post"
                              novalidate>
                        {% csrf_token %}
                    {% endif %}
                    {{ formset.management_form }}
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-4 uk">
                                <label for="exampleInputText1">New title in Ukrainian</label>
                                {{ form.title_uk }}
                            </div>
                            <div class="col-md-4 en">
                                <label for="exampleInputText1">New title in English</label>
                                {{ form.title_en }}
                            </div>
                            <div class="col-md-4">
                                <label for="exampleInputText2">Дата</label>
                                {{ form.date }}
                            </div>
                            <div class="col-md-2">
                                <label for="exampleInputText1">Статус</label>
                                <div class="d-flex col-md-2">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">ВЫКЛ</label>
                                    <div class="form-check form-switch">
                                        {{ form.status }}
                                    </div>
                                    <label class="form-check-label" for="flexSwitchCheckDefault">ВКЛ</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group uk">
                            <label>Description in Ukrainian</label>
                            {{ form.desc_uk }}
                        </div>
                        <div class="form-group en">
                            <label>Description in English</label>
                            {{ form.desc_en }}
                        </div>
                        <label>Главная картинка</label>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="
                                        {% if form.main_image.value %}{{ form.main_image.value.url }}{% else %}https://via.placeholder.com/300.png?text=No+Image{% endif %}"
                                     class="img-fluid mb-2"
                                     alt="gray sample" style="width:100%;" id="mainImage"/>
                            </div>
                            {{ form.main_image }}
                            <button type="button" class="btn btn-block btn-success"
                                    style="width: 200px; height: 40px; margin-top: 50px; margin-right: 10px;"
                                    onclick="document.getElementById('id_main_image').click();">Добавить
                            </button>
                        </div>
                        <label for="exampleInputFile">Галлерея картинок</label>
                        <div class="row" id="gallery-container">
                            {% for gallery_form in formset %}
                                <div class="col-md-2" id="gallery-form">
                                    <a href="https://via.placeholder.com/300.png?text=No+Image"
                                       data-toggle="lightbox" data-title="sample 2 - black" data-gallery="gallery">
                                        <img id="top-image-{{ forloop.counter0 }}-image" src="
                                                {% if gallery_form.instance.image %}{{ gallery_form.instance.image.url }}{% else %}https://via.placeholder.com/300.png?text=No+Image{% endif %}"
                                             class="img-fluid mb-2" alt="black sample" style="width:100%;"/>
                                    </a>
                                    {{ gallery_form.image }}
                                    {{ gallery_form.id }}
                                    {{ gallery_form.DELETE }}
                                    <button class="delete-image-button">Удалить</button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-block btn-success"
                                    style="width: 200px; height: 40px; margin-top: 50px; margin-right: 10px;"
                                    id="add-gallery-form">Добавить
                            </button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputText">Ссылка на видео</label>
                            {{ form.url }}
                        </div>
                        <label for="exampleInputText">SEO блок:</label>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group text-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">URL</span>
                                            </div>
                                            {{ seo_form.url }}
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Title</span>
                                            </div>
                                            {{ seo_form.title }}
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Key words</span>
                                            </div>
                                            {{ seo_form.keywords }}
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            {{ seo_form.desc }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary"
                                style="width: 400px; height: 40px;">Сохранить
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('input[name$="-DELETE"]').each(function () {
                $(this).hide()
            });
        });

        function handlePreview(input, previewId) {
            var preview = document.getElementById(previewId);

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.getElementById('id_main_image').addEventListener('change', function () {
            handlePreview(this, 'mainImage');
        });

        document.querySelectorAll('[id^="id_gallery-formset-"]').forEach(function (input) {
            input.addEventListener('change', function () {
                var previewId = this.id.replace('id_gallery-formset-', 'top-image-').replace('-image', '-image');
                handlePreview(this, previewId);
            });
        });

        let galleryForm = document.querySelectorAll('#gallery-form');
        let totalForms = document.querySelector("#id_gallery-formset-TOTAL_FORMS");
        let addButton = document.querySelector("#add-gallery-form");
        let container = document.querySelector('#gallery-container');

        let formNum = galleryForm.length - 1;
        addButton.addEventListener('click', addGalleryCard)

        function addGalleryCard(e) {
            e.preventDefault();

            let newForm = galleryForm[0].cloneNode(true);
            let formRegex = RegExp(`gallery-formset-(\\d){1}-`, 'g');

            formNum++;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `gallery-formset-${formNum}-`);

            let image = newForm.querySelector(`#id_gallery-formset-${formNum}-image`);
            let newId = `id_gallery-formset-${formNum}-image`;
            image.id = newId;

            let photo = newForm.querySelector(`#top-image-0-image`);
            let newPhotoId = `top-image-${formNum}-image`;
            photo.id = newPhotoId;
            photo.src = 'https://via.placeholder.com/300.png?text=No+Image'


            image.addEventListener('change', function () {
                handlePreview(this, newPhotoId);
            });

            container.insertBefore(newForm, addButton);

            totalForms.value = formNum + 1;
        }

        $(document).on('click', '.delete-image-button', function (event) {
            event.preventDefault();

            const $card = $(this).closest('#gallery-form');
            const $checkbox = $card.find('input[name^="gallery-formset"][name$="-DELETE"]');
            $checkbox.prop('checked', true);
            $card.hide();
        })

        $('.uk').hide();

        $('.row .nav-link').click(function () {
            const clickedTabId = $(this).attr('id');

            $('.row .nav-link').removeClass('active');
            $(this).addClass('active');

            if (clickedTabId === 'tab-en') {
                $('.uk').hide();
                $('.en').show();
            } else {
                $('.uk').show();
                $('.en').hide();
            }
        });

    </script>

{% endblock %}